body{
    font-family: Verdana;
    background-color: rgb(6, 146, 6);
}
.gora{
    height: 375px;
    text-align: center;
    background-color: rgb(6, 146, 6);
    font-size: 18px;
    width: 100%;
}
.gora-zdj{
    border-radius: 10%;
}
.srodek-przyciski{
    height: 450px;
    background-color: rgb(6, 155, 6);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.dol{
    height: 50px;
    background-color: rgb(6, 146, 6);
    width: 100%;
}
input{
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    width: 30%;
    height: 125px;
    background-color: rgb(59, 179, 59);
    font-size: 20px;
    font-weight: bold;
}